.primaryBtn{

    width: 139px;
    border-radius: 10px;
   
}
.secondaryBtn{
    border-radius: 10px;
    max-width: 185px;
    font-family: $manrope-family;
    
}



.Learn-arrow:hover img{
    transform: translateX(5px);
}
